<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; style-src 'self' https://fonts.googleapis.com 'unsafe-inline';">
    <title>simuBank - Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/logform.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>

<body>
    <%- navbar %>
        <main class="formBody">
            <div class="loginWindow loginBorder">
                <h1>Register <span class="green-text">new account</span> </h1>
                <form class="loginWindow" action="/register" method="post">
                    <label for="firstName">Your first name:</label>
                    <input type="text" name="firstName" id="firstName">

                    <label for="lastName">Your last name:</label>
                    <input type="text" name="lastName" id="lastName">

                    <label for="password1">Your password:</label>
                    <input type="password" name="password1" id="password">

                    <label for="password2">Confirm your password:</label>
                    <input type="password" name="password2" id="confirmPassword">

                    <label for="email">Your email address:</label>
                    <input type="text" name="email" id="email">
                    <button type="submit" id="registerButton">
                        Register
                    </button>
                </form>
                <ul class="loginList">
                    <li>
                        <a href="/login">Already have an account? Login now!</a>
                    </li>
                </ul>
            </div>
        </main>
        <%- footer %>
</body>

</html>