/* jakas smiesznostka do debugowania css'a xd */
/* * {
    box-sizing: border-box;
    outline: 1px solid limegreen;
} */

/* * {
    box-sizing: border-box;
    outline: 1px solid limegreen;
} */


html {
    scroll-behavior: smooth;
    font-family: "Montserrat";
}

body {
    padding: 0;
    margin: 0;
}


main {
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: row;
    height: 15rem;
}

.intro-motto {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: seagreen;
    width: 30%;
    color: #EEEEEE;
    font-size: 1.5rem;
}

.intro-motto h2 {
    animation: come-from-left 750ms;
}

.intro-image {
    width: 70%;
}

.intro-image img {
    width: 100%;
    height: 100%;
}

@keyframes come-from-left {
    0% {
        transform: translateX(-100%);
    }
}

.green-text {
    color: #499167;
}

.info {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.1rem;
}

.info h2 {
    text-align: center;
    font-size: 2rem;
}

.info-text {
    width: 80%;
    padding: 1rem;
    text-align: justify;
}

.info-img {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
}

.info-img img {
    width: 60%;
    border-radius: 10%;
}

.formBody {
    width: 100%;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}